
neural_networks1/__pycache__/utils.cpython-38.pyc
neural_networks1/utils.py
neural_networks1/optimizers.py
neural_networks1/NeuralNetwork.py
neural_networks1/layers.py
neural_networks1/__pycache__/optimizers.cpython-38.pyc
neural_networks1/__pycache__/NeuralNetwork.cpython-38.pyc
neural_networks1/__pycache__/__init__.cpython-38.pyc
neural_networks1/__pycache__/layers.cpython-38.pyc
neural_networks1/__init__.py
